.ipynb_checkpoints
.idea
__pycache__

datasets/
tmp_imgs
runs/
runs_last/
saved_models/
pre_trained/
save_log/
diffusers/
weights/
checkpoints/
validation_videos*
validation_results*
pretrained/*
.gradio/*

*.pyc
*.sh
*.pth
*.png
*.jpg
*.mp4
*.txt
*.json
*.jsonl
*.zip
*.mp4
*.csv
*.webp
*.bin
*.pkl
*.safetensors
*.pt
*.log
events.*
*.yml
*.gif
*.npy
*.out

!requirements.txt
!saved_models/*.md
!LICENSE.txt
!config/*
!__assets__/*
!__assets__/Bridge_example/*
!pretrained/PUT_YOUR_WEIGHT_HERE.md